<?xml version="1.0"?>
<ruleset name="Laravel">
    <rule ref="PSR12" />

    <arg name="extensions" value="php" />

    <file>.</file>

    <exclude-pattern>*.blade.php</exclude-pattern>
    <exclude-pattern>./bootstrap/cache/*</exclude-pattern>
    <exclude-pattern>./node_modules/*</exclude-pattern>
    <exclude-pattern>./storage/*</exclude-pattern>
    <exclude-pattern>./vendor/*</exclude-pattern>

    <rule ref="PSR1.Methods.CamelCapsMethodName">
        <exclude-pattern>./tests/*</exclude-pattern>
    </rule>
</ruleset>
